#!/usr/bin/make -f
#export DH_VERBOSE=1

export DPKG_EXPORT_BUILDFLAGS = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/buildflags.mk


%:
	dh $@ --with dkms

override_dh_auto_build:
	$(MAKE) library # don't build the module now

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/evdi-dkms/usr/src/evdi-$(DEB_VERSION_UPSTREAM)
	cp -a module/Makefile module/*.c module/*.h $(CURDIR)/debian/evdi-dkms/usr/src/evdi-$(DEB_VERSION_UPSTREAM)

	PREFIX=$(CURDIR)/debian/tmp/usr $(MAKE) install
